.gbcg-clearfix:before,
.gbcg-clearfix:after {
    display: table;
    content: " ";
}

.gbcg-clearfix:after {
    clear: both;
}

.gbcg .gbcg-selector {
    display: inline-block;
    background: #A9A9A9;
    border: 1px solid #A9A9A9;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px;
    border-bottom: 0; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 55px;
    text-align: center;
}

.gbcg .gbcg-selector:hover,
.gbcg .gbcg-selector{
    text-decoration: none;
}

.gbcg .gbcg-selector.gbcg-active {
    background: #fff;
    border-bottom: 0; 
    color: #000;
    border-width: 2px;
    font-weight: bold;
    box-shadow: 0px -1px 5px #aaaaaa;
}

.gbcg .gbcg-tab-item-cntr {
    display: none;
}

.gbcg .gbcg-tab-item pre {
    margin-top: 0;
    padding-top: 1em;
}